<!DOCTYPE html>
<html>
  <head>
    <link href='https://fonts.googleapis.com/css?family=Roboto:400,500' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Roboto+Condensed' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" type="text/css" href="css/principal.css">
    <link rel="stylesheet" type="text/css" href="css/datatables.css">
    <link rel="stylesheet" type="text/css" href="css/material.css">
    <link rel="stylesheet" type="text/css" href="css/listar.css">
  </head>
  <body>
    <div id="sidebar">
          <label class="titulo">Pokemon</label>
          <a class="menu" id="menuInicio">
              <img src="img/inicio.png">
              <label>Inicio</label>
          </a>
          <a class="menu ativo selecionavel" id="mMapa" div="mapa">
              <img src="img/mapas.png">
              <label>Mapa</label>
          </a>
          <a href="/cadastroPokemon" class="menu selecionavel" id="mTabela" div="tabela">
              <img src="img/pokebola.png">
              <label>Cadastrar Pokemon</label>
          </a>
          <a href="/batalha" class="menu" id="menuMalha">
              <img src="img/batalha.png">
              <label>Batalha</label>
          </a>
          <a href="/listar" class="menu" id="menuMalha">
              <img src="img/treinador.png">
              <label>Treinadores</label>
          </a>
      </div>
      <style>
         #map {
          height: 700px;
          width: 50%;
          left: 30%;
         }
      </style>
    <h1> </h1>
    <div id="map"></div>
    <script>

      function initMap(){


        var options = {
            zoom : 13,
            center:{lat:-15.7941,lng: -47.8825}
        }
      var map = new google.maps.Map(document.getElementById('map'),options);

      var marker = new google.maps.Marker({
       position:{lat:-15.7941,lng: -47.8825},
       map:map,
       icon:''
     });
     var contentString = 'Aqui tem um pokemon.</p>'+
      'deseja batalhar ?' +
     '<input type="button" class="button alert tiny" name="batalhar" value="BATALHAR">'+
     '</div>'+
     '</div>';

 var infowindow = new google.maps.InfoWindow({
   content: contentString
 });
     var marker2 = new google.maps.Marker({
      position:{lat : -15.790822, lng: -47.883811},
      map:map,
      icon:''
    });
    marker.addListener('click', function() {
             infowindow.open(map, marker);

     });

     marker.addListener('click', function() {
              infowindow.open(map,marker2);
      });



      }




    </script>

    <script async defer
    src="https://maps.googleapis.com/maps/api/js?AIzaSyC1z4i_4QurWRv3iG3gGEDwFCTh7R-yvUg&callback=initMap">
  </script>

   </body>
</html>
