@import url(//fonts.googleapis.com/css?family=Quicksand:400);
.user {
  display: block;
  width: 50%;
  box-sizing: border-box;
  padding: 1rem;
}
.user:first-of-type {
  float: left;
}
.user:last-of-type {
  float: right;
}
.user .user-image-wrap {
  width: 40%;
  margin: 1rem auto;
  padding-bottom: 50%;
  position: relative;
}
.user .user-image {
  position: absolute;
  width: 0%;
  border-radius: 50%;
  -webkit-transition: width 150ms ease-in-out, box-shadow 500ms ease-in-out, -webkit-transform 500ms cubic-bezier(0.02, 1.48, 1, 1);
  transition: width 150ms ease-in-out, box-shadow 500ms ease-in-out, -webkit-transform 500ms cubic-bezier(0.02, 1.48, 1, 1);
  transition: width 150ms ease-in-out, box-shadow 500ms ease-in-out, transform 500ms cubic-bezier(0.02, 1.48, 1, 1);
  transition: width 150ms ease-in-out, box-shadow 500ms ease-in-out, transform 500ms cubic-bezier(0.02, 1.48, 1, 1), -webkit-transform 500ms cubic-bezier(0.02, 1.48, 1, 1);
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  box-shadow: 0px 0px 0px 0.1rem rgba(255, 255, 255, 0.1);
}
.user .user-image.won {
  -webkit-transform: translate(-50%, -50%) scale(1.2);
          transform: translate(-50%, -50%) scale(1.2);
  box-shadow: 0px 0px 0px 0.4rem #60AE24;
}
.user .user-image.lost {
  -webkit-transform: translate(-50%, -50%) scale(0.8);
          transform: translate(-50%, -50%) scale(0.8);
  box-shadow: 0px 0px 0px 0.4rem #C44928;
}

.points {
  display: block;
  text-align: center;
  background: #C44928;
  box-sizing: border-box;
  border-radius: 0.125rem;
  padding: 0.5rem;
  margin: 0 0.125rem;
  font-weight: 400;
  font-size: 1.25rem;
}
.winning .points {
  background: #60AE24;
}

.details {
  width: 100%;
  text-align: center;
  margin: 1rem 0;
}
.details button {
  padding: 0.5rem;
  font-size: 1rem;
}
.details button:hover {
  -webkit-transform: scale(1.05);
          transform: scale(1.05);
}
.details span {
  line-height: 38px;
}

.results {
  margin-bottom: 1rem;
}
.results::after {
  content: "";
  clear: both;
  display: table;
}

.bars:after {
  content: "";
  clear: both;
  display: table;
}
.bars .bar {
  display: block;
  width: 16.66%;
  float: left;
  font-size: 0.875rem;
  box-sizing: border-box;
  padding: 0.125rem;
  text-align: center;
}
.bars .bar > span {
  display: block;
  line-height: 1;
  margin: 0.5rem 0;
}
.bars .bar-track {
  position: relative;
  overflow: hidden;
  height: 120px;
}
.bars .bar-val {
  position: absolute;
  bottom: 0;
  top: 100%;
  left: 0;
  right: 0;
  -webkit-transition: top 250ms ease-in-out, background 500ms ease-in-out;
  transition: top 250ms ease-in-out, background 500ms ease-in-out;
  background: #C44928;
  box-sizing: border-box;
  border-radius: 0.125rem;
  padding: 0.25rem;
}
.bars .bar-val.winning {
  background: #60AE24;
}

[ng-controller] {
  max-width: 1000px;
  min-width: 600px;
  margin: 2rem auto;
}

[ng-cloak] {
  display: none;
}

.label {
  margin: 0.5em 0;
  font-size: 2rem;
}

.input-wrap {
  position: relative;
  width: 50%;
  min-width: 280px;
  margin: 0 auto;
}
.input-wrap input {
  width: 100%;
  display: block;
}
.input-wrap button {
  display: block;
  position: absolute;
  padding: 0.5rem;
  font-size: 1rem;
  top: 50%;
  right: 1rem;
  -webkit-transform: translateY(-50%) scale(1);
          transform: translateY(-50%) scale(1);
}
.input-wrap button:hover {
  -webkit-transform: translateY(-50%) scale(1.05);
          transform: translateY(-50%) scale(1.05);
}
.input-wrap .user-thumb {
  position: absolute;
  width: calc(60px - 1rem);
  height: calc(60px - 1rem);
  left: 1rem;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  border-radius: 50%;
  background: black;
  background-size: cover;
  background-position: center;
}
.input-wrap .user-thumb img {
  width: 100%;
  height: auto;
  border-radius: 50%;
}

.username-error {
  color: #C44928;
  text-align: center;
  margin-top: 1em;
}

input, button {
  outline: none;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  border: none;
  box-sizing: border-box;
  padding: 1rem 1rem;
  border-radius: 0.125rem;
  font-family: Quicksand;
  font-weight: 400;
  font-size: 1.5rem;
  text-align: center;
}

.button {
  display: block;
}

input {
  background: rgba(255, 255, 255, 0.2);
}
input:focus {
  background: rgba(255, 255, 255, 0.4);
}

button {
  text-transform: uppercase;
  border: 1px solid rgba(255, 255, 255, 0.2);
  background: black;
  color: white;
}
button.pos {
  background: #60AE24;
}

.button {
  margin: 0 auto;
  width: 50%;
  min-width: 240px;
}
.button.fight {
  margin-top: 2rem;
  background-color: #FFBB00;
  -webkit-animation: glow 2s ease-in-out infinite;
          animation: glow 2s ease-in-out infinite;
}
.button.fight:hover {
  -webkit-animation: none;
          animation: none;
}
.button.fight:disabled {
  opacity: 0.5;
  -webkit-animation: none;
          animation: none;
}
.button:hover:not(:disabled) {
  -webkit-transform: scale(1.05);
          transform: scale(1.05);
}

@-webkit-keyframes glow {
  0%, 100% {
    box-shadow: 0px 0px 0px 0px #FFBB00;
  }
  50% {
    box-shadow: 0px 0px 20px 0px #FFBB00;
  }
}

@keyframes glow {
  0%, 100% {
    box-shadow: 0px 0px 0px 0px #FFBB00;
  }
  50% {
    box-shadow: 0px 0px 20px 0px #FFBB00;
  }
}
.user-detail-modal-bg {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.7);
}
.user-detail-modal-bg:hover {
  background: rgba(0, 0, 0, 0.3);
}

button.primary {
  background: #FFBB00;
}

.user-detail-modal {
  position: fixed;
  background: black;
  top: 10%;
  left: 50%;
  width: 600px;
  max-width: 90%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  padding: 2rem;
  box-sizing: border-box;
  border-radius: 0.125rem;
  border: 1px solid rgba(255, 255, 255, 0.2);
}
.user-detail-modal a {
  color: #FFBB00;
}
.user-detail-modal .user-detail-close {
  position: absolute;
  right: 1rem;
  top: 1rem;
}
.user-detail-modal .user-detail-image {
  width: 100px;
  height: auto;
  border-radius: 50%;
  display: block;
  margin: 0 auto 1rem;
  box-shadow: 0px 0px 0px 0.1rem rgba(255, 255, 255, 0.1);
}
.user-detail-modal h1 {
  font-size: 40px;
  line-height: 40px;
  margin: 0rem 0 1rem;
}
.user-detail-modal table {
  width: 100%;
  background: #111;
}
.user-detail-modal table tbody {
  height: 300px;
  overflow-y: auto;
  display: block;
}
.user-detail-modal table tr {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.user-detail-modal table td, .user-detail-modal table th {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}
.user-detail-modal table th {
  background: #000;
  text-transform: uppercase;
  padding: 1em 0.5em;
}
.user-detail-modal table td {
  padding: 0.5em;
  font-family: monospace;
  text-align: center;
}
.user-detail-modal table tr:nth-child(even) {
  background: #222;
}

p {
  text-align: center;
}
p small {
  color: rgba(255, 255, 255, 0.8);
  font-style: italic;
}

h1, h2 {
  font-family: Quicksand;
  text-transform: uppercase;
  font-weight: 400;
  line-height: 1;
  text-align: center;
  color: #FFF;
}

h1 {
  margin: 3rem 0 2rem;
  position: relative;
  font-size: 50px;
  line-height: 50px;
}
h1 img {
  vertical-align: middle;
  width: 60px;
  height: auto;
  margin-top: -10px;
  z-index: -1;
}

h2 {
  margin-top: 0px;
}

a {
  text-decoration: none;
  color: white;
}
a:hover {
  color: #FFBB00;
}

footer {
  margin-top: 1rem;
  text-align: center;
}
footer a {
  color: #FFBB00;
}

body {
  font-family: Quicksand;
  background: #111;
  background: -webkit-linear-gradient(bottom right, #111, #222);
  background: linear-gradient(bottom right, #111, #222);
  color: white;
}

html, body {
  min-height: 100%;
}
