<!DOCTYPE html>
<html >
<head>
  <meta charset="UTF-8">
  <title>Cadastro Pokemon</title>


  <link rel="stylesheet" href="css/cadastro.css" />
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/5.0.0/normalize.min.css">
  <link rel="stylesheet" href="">



      <link rel="stylesheet" href="css/style.css">


</head>

<body>

<img src="http://fc00.deviantart.net/fs70/i/2012/308/0/b/__hd___pokemon_logo___hd___by_peetzaahhh2010-d5k08gz.png" />
<h2> Olá <%=nome%>  </h2>




</body>
</html>
